* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Mono", sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
}
p {
  text-align: left;
}
